@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-900: #312e81;
  --color-sidebar: #1a202c;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
  }
}
